In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("updatedempinfo.csv")

In [ ]:
#no. or rows and columns
df.shape

In [ ]:
# display column name
df.columns

In [ ]:
# display first 5 records
df.head(8)

In [ ]:
# display last 5 records
df.tail(5)

In [ ]:
# display dtypes
df.dtypes

In [ ]:
df.info()

In [ ]:
#df.iloc[rows,columns]
df.iloc[5:8]

#df.iloc[5:8,5:10]
#df.iloc[:,5:7]["occupation"]

In [ ]:
# display one column
df["workclass"]

In [ ]:
# dsiplay multiple columns
df[["workclass","education","age"]]

In [ ]:
df[["workclass","education","age"]].to_csv("3columns.csv")

In [ ]:
df.head(22).to_csv("22rows.csv")

In [ ]:
df['workclass']

In [ ]:
df['workclass'].unique()  # distince items in the column

In [ ]:
df['workclass'].nunique()

In [ ]:
df['gender'].value_counts()

In [ ]:
df.all()

In [ ]:
df

In [ ]:
# one condition
cond = df['workclass'] == " Private"
df[cond]

In [ ]:
# one condition
cond = df['workclass'].str.strip() == "Private"
df[cond]

In [ ]:
df.query("workclass == ' Private'")

In [ ]:
# multiple conditions
cond1 = df['workclass'] == " Private"
cond2 = df['gender'] == " Male"

df[cond1 & cond2]

In [ ]:
df.query("  workclass == ' Private' and gender == ' Male'  ")

In [ ]:
df.shape

In [ ]:
df.drop_duplicates()

In [ ]:
df.sort_values('age')

In [ ]:
df.sort_values('age', ascending= False)

In [ ]:
df

In [ ]:
df.dropna()  # drop null values

In [ ]:
df.fillna(0)   # replace missing values with 0

In [ ]:
df.isnull().sum()

In [ ]:
df.drop(columns = ["workclass","education","gender"])

In [ ]:
df.drop([1,3])   # 1st and 3rd rows

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,USA,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,USA,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,USA,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,USA,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,USA,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,USA,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,USA,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,USA,>50K

In [115]:
cond = df['age'] <85
df.drop(  df[cond].index  )

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
222,90,Private,51744,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,2206,40,USA,<=50K
1040,90,Private,137018,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,0,0,40,USA,<=50K
1168,88,Self-emp-not-inc,206291,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,USA,<=50K
1935,90,Private,221832,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,USA,<=50K
2303,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,USA,<=50K
2891,90,Private,171956,Some-college,10,Separated,Adm-clerical,Own-child,White,Female,0,0,40,Puerto-Rico,<=50K
4070,90,Private,313986,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,USA,<=50K
4109,90,?,256514,Bachelors,13,Widowed,?,Other-relative,White,Female,991,0,10,USA,<=50K
5104,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,USA,<=50K
5272,90,Private,141758,9th,5,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,USA,<=50K
5370,90,Local-gov,227796,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,20051,0,60,USA,>50K
5406,90,Private,51744,Masters,14,Never-married,Exec-managerial,Not-in-family,Black,Male,0,0,50,USA,>50K
6232,90,Self-emp-not-inc,155981,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,10566,0,50,USA,<=50K
6624,90,Private,313986,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,USA,<=50K
8381,85,Private,115364,HS-grad,9,Widowed,Sales,Unmarried,White,Male,0,0,35,USA,<=50K
8806,90,Private,87372,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,20051,0,72,USA,>50K
8963,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,USA,<=50K
8973,90,Private,46786,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,9386,0,15,USA,>50K
10210,90,Self-emp-not-inc,282095,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,USA,<=50K
10545,90,Private,175491,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,9386,0,50,Ecuador,>50K
11512,90,Private,87285,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,24,USA,<=50K
11731,90,?,39824,HS-grad,9,Widowed,?,Not-in-family,White,Male,401,0,4,USA,<=50K
11996,90,Private,40388,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,55,USA,<=50K
12451,90,?,225063,Some-college,10,Never-married,?,Own-child,Asian-Pac-Islander,Male,0,0,10,South,<=50K
12975,90,Private,250832,10th,6,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,USA,<=50K
14159,90,Local-gov,187749,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,20,Philippines,<=50K
15356,90,Private,90523,HS-grad,9,Widowed,Transport-moving,Unmarried,White,Male,0,0,99,USA,<=50K
15892,90,Private,88991,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,England,>50K
18277,90,Private,311184,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,20,?,<=50K
18413,90,Private,313749,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,USA,<=50K
18725,90,Local-gov,153602,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,6767,0,40,USA,<=50K
18832,90,Private,115306,Masters,14,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,USA,<=50K
19212,90,Private,139660,Some-college,10,Divorced,Sales,Unmarried,Black,Female,0,0,37,USA,<=50K
19489,90,Private,84553,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,USA,<=50K
19747,90,Private,226968,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,USA,<=50K
20463,85,Self-emp-not-inc,166027,HS-grad,9,Widowed,Sales,Not-in-family,White,Female,0,0,50,USA,<=50K
20610,90,Private,206667,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,USA,>50K
21835,88,Self-emp-not-inc,187097,Prof-school,15,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,USA,<=50K
22220,90,Private,52386,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,40,USA,<=50K
22895,88,Private,68539,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,USA,<=50K
24027,86,Private,149912,Masters,14,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,USA,<=50K
24043,90,Self-emp-not-inc,82628,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,2964,0,12,USA,<=50K
24238,90,?,166343,1st-4th,2,Widowed,?,Not-in-family,Black,Female,0,0,40,USA,<=50K
25303,90,?,175444,7th-8th,4,Separated,?,Not-in-family,White,Female,0,0,15,USA,<=50K
28463,90,Federal-gov,195433,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,USA,<=50K
31030,90,Private,47929,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,USA,<=50K
31432,87,?,90338,HS-grad,9,Widowed,?,Not-in-family,White,Male,0,0,2,USA,<=50K
31696,90,?,313986,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,USA,>50K
32277,90,Private,313749,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,25,USA,<=50K
32367,90,Local-gov,214594,7th-8th,4,Married-civ-spouse,Protective-serv,Husband,White,Male,2653,0,40,USA,<=50K
32459,85,Private,98611,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,3,Poland,<=50K